<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Nutricional</title>
    <link rel="stylesheet" href="../static/css/home.css"/>
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <h1 class="navbar__user">Eduardo de Tena</h1>
            <img src="/static/logo.png" alt="logo" class="navbar__logo"/>
        </div>
        <div class="navbar__menu">
            <ul class="navbar__navigation">
                <li class="navbar__navigation-item"><a href="#" class="navbar__link">Siguiente comida</a></li>
                <li class="navbar__navigation-item"><a href="#" class="navbar__link">Plan nutricional</a></li>
            </ul>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>